.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 11%;
    top: 30%;
    transition: all 1s ease-out;
}

@media (min-width:500px) {
    .Modal{
        position: fixed;
        left: 40%;
        top: 30%;
        width: auto;
    }
}